Clasp Member
Whether you grew up in the mean streets of Kymal
bamboozling foolish gamblers, or spent your youth
pilfering loose coin from the pockets of Emon’s many

tourists, your lifestyle of deceiving-to-survive eventu-
ally drew the attention of the Clasp: a storied crime

syndicate that has hideouts in every city in Tal’Dorei.
In exchange for protection, a modicum of kinship,
and a number of useful resources to further develop
your craft as a criminal, you agreed to receive the
brand of the Clasp and join their ranks.
You might have spent time working the guild’s
most menial assignments, wandering the alleys as a
simple cutpurse and filling your pockets with silver
while you waited to climb the professional ladder. Or
you might be a clever actor and liar, whose skill at
blending in with all facets of society has made you
an indispensable spy. Perhaps your swift technique
with a blade led you to become a feared assassin for

the Spireling leader of a local Clasp sect. Regard-
less, though the threat of the law is ever looming,

the advantages to having a connection to such a
powerful cartel greatly outweighs your paranoia.
Most of the time.
Since the Clasp is an organization, its members
can rise in rank by proving their worth, by making
the right friends in high places, or even through
blackmail and bribery. You and the Game Master can
decide together how your actions affect your rank in
the Clasp, and what benefits that rank grants you.
Skill Proficiencies: Deception, plus your choice of
Sleight of Hand or Stealth
Tool Proficiencies: Disguise kit, forgery kit, or
thieves’ tools (one of your choice)
Languages: Thieves’ Cant
Equipment: A set of inconspicuous common clothes,
a set of tools with which you’re proficient, and a
belt pouch containing 10 gp
Feature: A Favor in Turn
You have gained enough clout in the Clasp that you
can call in a favor from your contacts whenever
you’re close enough to a center of syndicate activity.
A request for a favor can be no longer than 20 words,

and is passed up the chain to an undisclosed Spire-
ling for approval. This favor can take on any form

subject to the approval of the GM, who decides how
it is fulfilled. If muscle is requested, an NPC member
of the Clasp (using one of the stat blocks found in
chapter 6) can temporarily aid your party. If money is
needed, a small loan can be provided. If you’ve been
imprisoned, Clasp operatives can look into breaking
you out or paying off the jailer.

At some point, the favor will be called in for repay-
ment, often without warning. Refusing the call will

result in your termination—literally. You might be

called on to commit a specific burglary, or to pres-
sure an Emonian dignitary to reveal a secret at an

upcoming ball. The Clasp might even demand that
you assassinate a specific person, with no questions
asked or answered. It’s the GM’s prerogative to
ensure that the syndicate’s request is proportionate
to the favor they bestowed—or that they compensate
you in other ways for a service that goes beyond the
scope of repaying the initial favor.
Variant: Myriad Operative
Your skill set might be similar to that of many
members of the Clasp, but you work for a criminal
organization that is far more sophisticated—and even
less scrupulous. As a Myriad operative in Tal’Dorei,
you might have been given a specific task that
furthers that syndicate’s hunger to expand beyond
Wildemount, or which gives them an edge in their
rivalry with the Clasp. Moreover, you understand the
wisdom of keeping your activities secret from fellow
criminals as well as law enforcement, since the
agents of the Clasp will show you no mercy if your
true identity is ever revealed.
Suggested Characteristics
The Clasp enjoys a strange status in Tal’Dorei. The
syndicate is a feared group of thieves and killers,
whose name is often invoked only in whispers. But at
the same time, the organization has a reputation for
guerilla heroism, in response to its members having
saved countless lives when the Chroma Conclave
attacked Emon. And so like every Clasp member,
your own reputation often swings between these
two poles.
Your bond is likely associated with your fellow
Clasp members or the individual who introduced
you to the syndicate. Your ideal probably involves
establishing your importance and indispensability to
the Clasp.

Clasp Member Personality Traits
d8 Personality Trait
1 What’s life without risk? I’m always willing to
take a risk if the reward seems worth it.
2 I only show my emotions around people I
really trust.
3 I don’t need friends; I need allies. When I do
make “friends,” I only consider what they can
do for me.
4 I look for simple solutions. The world’s full of
tough problems, but a well-placed knife is a
one-size-fits-all answer.
5 Money talks. I don’t. We’ve got an efficient
relationship.
6 I used to have one rule—don’t get involved in
other people’s problems. Why are things so
complicated now?
7 Crime is a game, and I play to win. I have no
sympathy for players who don’t get that.
8 This organization has a lot of folks who cling
to ugly, brutal practices. I’m not like that.
I’m a professional, and professionals have
standards.
Clasp Member Ideals
d6 Ideal
1 By Any Means. I complete jobs. Collateral
damage isn’t my problem. (Chaotic)
2 Ambition. I will climb to the top of the ladder.
Everything I do is a stepping-stone to a
Spireling’s position. (Neutral)
3 Decisiveness. It’s important to make up
your mind so you can act swiftly and without
delay. (Neutral)
4 Honor. There’s room in the Clasp for both
good and evil. Every day, I awake and choose
to do what’s right. (Good)
5 Family. The Clasp is family. Anything that’s
good for the family is good for me. (Lawful)
6 Self-Interest. There are too many bleeding
hearts in the Clasp these days. Doing the right
thing means doing the thing that makes my
life better. (Evil)
Clasp Member Bonds
d6 Bond
1 I’d do anything—anything—to protect
my comrades.
2 I’ll always be grateful to the Spireling who
took me in when I was an orphaned kid.
3 I was inspired to join the Clasp by the stories
my parents told of being saved from the
Chroma Conclave’s attack on Emon. I can look
past the organization’s flaws.
4 I was nearly killed by the Myriad. If the Clasp
is the enemy of those villains, then the Clasp
is my friend.
5 I’ve got family back in the old town who are
counting on me for money. They don’t know
how I get it, but they don’t need to know.
6 I joined the Clasp to become rich, powerful,
and beloved. That’s all there is to it.

Clasp Member Flaws
d6 Flaw
1 I’m hopeless at organizing my belongings,
and I’m always losing things.
2 I get bored whenever a plan is going too
smoothly. A win is always more fun when it’s
by the skin of my teeth!
3 I’ve seen Spirelings walk out among cheering
crowds of thousands. Gods, I wish that were
me. I need that to be me.
4 I’m rubbish with money, and never seem to
leave town with a full purse. Keeps me coming
back to the life, I suppose.
5 I can’t work with shoddy, makeshift thieves’
tools. I need everything involving my work to
be perfect.
6 Any slight against me, no matter how small, is
cause for revenge.
