Whitestone Rifle Corps
You trained with the elite forces charged with the
defense and protection of the isolated city-state of
Whitestone, with much of that training focused on
how to care for, protect, and safeguard the firearms
that are the weapons of the Whitestone Rifle Corps.
You are also entrusted with a solemn duty—to never
let the secrets of your liege-lord’s deadly creations
fall into the wrong hands.
You might have come to Whitestone to prove
yourself worthy of wielding the secretive and
highly coveted firearms created there, and to seek
instruction from warriors who have mastered those

weapons. Or you might have grown up in Whites-
tone, perhaps even remembering the brutal days

when Lord and Lady Briarwood ruled your home-
land—a reign that began some thirty years ago and

lasted for six harrowing years.
Alternatively, you or your parents might have come
to Whitestone as refugees fleeing the destruction
of the Chroma Conclave’s attack on Tal’Dorei. If

so, your life in the city-state might have been a rela-
tively peaceful one, dwelling among the engineers,

artisans, and merchants seeking to capitalize upon
Whitestone’s reputation as an up-and-coming center
of trade, culture, and invention.
When you choose this background, decide whether
you were a member of the Rifle Corps, the Pale
Guard, or the Grey Hunters. The “Whitestone”
section in chapter 3 has more information about
each of these organizations, as well as the
armaments and militia in the city-state.

Skill Proficiencies: Your choice of two of the follow-
ing: Athletics, Perception, or Survival

Weapon Proficiencies: Firearms
Languages: One of your choice
Equipment: Your choice of a musket or a pistol, a set
of common clothes, and a pouch containing 10 gp
Feature: Legacy of Secrecy
You have been entrusted with the use and care of a
weapon both powerful and terrifying. The rifle you
wield might transform the face of warfare and life in
Tal’Dorei. It is a weapon that haunts the mind of its
creator, Percival de Rolo, manifesting as a pain that
lives always behind his kind eyes.
You were granted a musket or a pistol (as

described in the fifth edition core rules) by your com-
mander in the Whitestone Rifle Corps. This weapon

is a symbol of your status, and when you display

it, other folk around you—particularly adventur-
ers, mercenaries, guards, engineers, and weapons

enthusiasts—treat you differently. You might be seen
as a noble defender of the people, a selfish hoarder
of power, or anything in between, at the GM’s
discretion.
Feature: Rifle Corps
Relationship
You are—or were—a member of an elite and trusted
band of Whitestone’s staunchest defenders. Work

with your GM to determine your current relation-
ship with the Rifle Corps. If your campaign starts in

Whitestone, you might be an active member of that

unit. Otherwise, you can use the Rifle Corps Rela-
tionships table for suggestions.

Rifle Corps Relationships
d6 Current Relationship
1 I retired honorably from the Rifle Corps—
and now it’s time for me to pursue my own
adventures.
2 I’m on an important mission to protect
Whitestone or guard one of our allies.
3 Whitestone is in trouble, and I was sent away
to seek help.
4 I don’t think firearms technology should be
kept secret, so I escaped from the Rifle Corps
with my weapon and am on the run.
5 I was on a mission with my company when I
got separated from them. Now I need to find
my way back home.
6 My weapon was stolen. I built a new one, but
I can’t return home until I’ve tracked down the
thief and recovered the original. (Grey Hunter
variant only)
Suggested Characteristics
Those who join the Whitestone Rifle Corps become
members of an elite and trusted band known as the
city-state’s staunchest defenders. But this means
working with your GM to determine why you’re not
at home protecting Whitestone. Perhaps you took on
a mission to guard someone on behalf of the de Rolo
family, or you might have been separated from your
company while on an assignment. Either way, you

find yourself embroiled now in a series of new adven-
tures as you try to make your way back home.

Your bond is likely associated with your comrades-
in-arms or with Whitestone itself. Your ideal could

be tied to justice or protection, but could also be a
secretive, selfish perversion of those virtues.
Rifle Corps Personality Traits
d8 Personality Trait
1 I want to make a good impression at all times.
That means keeping my clothes and gear
clean and in top condition.
2 I don’t like being the center of attention. I’d
rather let someone else do the talking while I
watch their back.
3 I feel safe only if I’m carrying my trusty rifle.
And my dagger. And my concealed pistol. Oh,
and of course my....
4 I don’t trust people with my secrets easily,
so it feels like a big deal when someone else
shares a secret with me.

d8 Personality Trait
5 I like coming up with solutions to problems
using my esoteric knowledge of natural
philosophy.
6 Everyone around me takes things so
seriously. Sometimes I just want to let loose
and have fun!
7 Knowing things that other people don’t know
makes me feel special and important.
8 I’m most at home in woods and mountains,
where everything feels at once familiar,
always growing and changing.
Rifle Corps Ideals
d6 Ideal
1 Responsibility. I have a duty to protect the
people of Whitestone and to uphold the trust
placed in me by the de Rolos. (Lawful)
2 Militarization. Everyone should have access
to the most powerful weapons available, so
they can defend themselves effectively. (Evil)
3 Cooperation. Any problem can be solved
as long as people are willing to work
together. (Good)
4 Camaraderie. It’s important to have people
you can trust to help out in a fight—and to
uncork a bottle together afterward. (Any)
5 Context. There are no universal rights or
wrongs. Every choice depends on the details
of the situation. (Chaotic)
6 Secrecy. Information is valuable, but it can
also be dangerous. I’ll keep my mouth shut
and gather as much intel as I can. (Neutral)
Rifle Corps Bonds
d6 Bond
1 I never knew what to do with myself until I
joined the Rifle Corps. Now I have a purpose
and comrades to give me direction.
2 One of my fellow Rifle Corps soldiers saved
my life—and then I saved theirs. That kind of
bond lasts forever.
3 Whitestone is the best city in all of Tal’Dorei.
Nowhere else has been blessed by the
Dawnfather and has a clock that tracks the
movement of the stars!
4 My quick thinking saved a noble from
assassination, and she showed me great
kindness in return. I daren’t say it, but I’m
more loyal to her than I am to the de Rolos.
5 My weapon is my life. I clean it, repair it, and
care for it—and it serves me loyally in return.
6 The people of Whitestone cared for my family
when we had nothing. I promise to repay their
compassion with my service.
Rifle Corps Flaws
d6 Flaw
1 Who cares about keeping this gun safe?
“Don’t let it fall into the wrong hands!” Ha! It’s
only a matter of time before someone slips up
and these weapons are everywhere.
2 I think being part of the Rifle Corps is so cool.
I love telling people about my position so I
can impress them.
3 My weapon was stolen. I built a new one, but
I can’t return home until I’ve tracked down the
thief and recovered the original.
4 I’m tired of protecting spoiled people who
don’t know how to protect themselves.
5 I shoot first and ask questions later.
6 The first and only time I killed someone, it
changed my life. I still dream about it, and I’ll
never be the carefree person I was before.

Variant: Grey Hunter
As exceptional as they are, the members of the
Whitestone Rifle Corps do not represent the apex
of firearms skill in Whitestone. A clandestine group

of elite soldiers and survivalists is drawn secretly
from the Rifle Corps ranks. Called the Grey Hunters,
these soldiers are special operatives of the de Rolo
family, and loyally serve as spies, bodyguards, and
even assassins when the job requires it. Though few
officially know of them, rumors of the Grey Hunters’
existence swirl constantly throughout the city-state,
often in response to their activities after having been
loaned out to protect Whitestone’s allies.
You are one of these Grey Hunters, even if just a
trainee (if you’re starting your campaign at low
levels). You have the ear of the lord and lady of
Whitestone, though you must exercise this privilege
graciously lest you lose it.