// ~~~~~~ Classes ~~~~~~
bard {
	/*
		- Known caster (spells are added to the character at level up, when cantrips or spells-known increases)
			- must be spells with the Bard tag
			- on any level up: can remove 1 spell from current known and replace it with any other bard spell
		- slots reset on: Long rest
		- Focus: any musical instrument
	*/
	ability "Charisma"
	ritual "Bard" // can ritual cast spells with Bard tag
	cantrips {
		level 1 2
		level 4 3
		level 10 4
	}
	spells-known {
		level 1 4
		level 2 5
		level 3 6
		level 4 7
		level 5 8
		level 6 9
		level 7 10
		level 8 11
		level 9 12
		level 10 14
		level 11 15
		level 13 16
		level 14 18
		level 15 19
		level 17 20
		level 18 22
	}
	slots {
		rank 1 {
			level 1 2
			level 2 3
			level 3 4
		}
		rank 2 {
			level 3 2
			level 4 3
		}
		rank 3 {
			level 5 2
			level 6 3
		}
		rank 4 {
			level 7 1
			level 8 2
			level 9 3
		}
		rank 5 {
			level 9 1
			level 10 2
			level 18 3
		}
		rank 6 {
			level 11 1
			level 19 2
		}
		rank 7 {
			level 15 1
			level 20 2
		}
		rank 8 {
			level 15 1
		}
		rank 9 {
			level 17 1
		}
	}
}
cleric {
	/*
		- Prepared caster
			- spells must have the Cleric tag
			- prepared when finishing long rest, spending 1 minute per spell level per spell
			- capacity: Wisdom (spellcasting ability) + class level (minimum 1 spell)
		- slots reset on: Long rest
		- focus: any holy symbol
	*/
	ability "Wisdom"
	ritual "Cleric" prepared // can ritual cast any prepared cleric spell
	cantrips {
		level 1 3
		level 4 4
		level 10 5
	}
	slots {
		rank 1 {
			level 1 2
			level 2 3
			level 3 4
		}
		rank 2 {
			level 3 2
			level 4 3
		}
		rank 3 {
			level 5 2
			level 6 3
		}
		rank 4 {
			level 7 1
			level 8 2
			level 9 3
		}
		rank 5 {
			level 9 1
			level 10 2
			level 18 3
		}
		rank 6 {
			level 11 1
			level 19 2
		}
		rank 7 {
			level 13 1
			level 20 2
		}
		rank 8 {
			level 15 1
		}
		rank 9 {
			level 17 1
		}
	}
}
druid {
	/*
		- Prepared caster
			- spells must have the Druid tag
			- prepared when finishing long rest, spending 1 minute per spell level per spell
			- capacity: Wisdom (spellcasting ability) + class level (minimum 1 spell)
		- slots reset on: Long rest
		- focus: any druidic focus
	*/
	ability "Wisdom"
	ritual "Druid" prepared // can ritual cast any prepared cleric spell
	cantrips {
		level 1 2
		level 4 3
		level 10 4
	}
	slots {
		rank 1 {
			level 1 2
			level 2 3
			level 3 4
		}
		rank 2 {
			level 3 2
			level 4 3
		}
		rank 3 {
			level 5 2
			level 6 3
		}
		rank 4 {
			level 7 1
			level 8 2
			level 9 3
		}
		rank 5 {
			level 9 1
			level 10 2
			level 18 3
		}
		rank 6 {
			level 11 1
			level 19 2
		}
		rank 7 {
			level 13 1
			level 20 2
		}
		rank 8 {
			level 15 1
		}
		rank 9 {
			level 17 1
		}
	}
}
paladin {
	/*
		- Prepared caster
			- spells must have the Paladin tag
			- prepared when finishing long rest, spending 1 minute per spell level per spell
			- capacity: Charisma (spellcasting ability) + 1/2 class level (rounded down, minimum 1 spell)
		- slots reset on: Long rest
		- focus: any holy symbol
	*/
	ability "Charisma"
	slots {
		rank 1 {
			level 2 2
			level 3 3
			level 5 4
		}
		rank 2 {
			level 5 2
			level 7 3
		}
		rank 3 {
			level 9 2
			level 11 3
		}
		rank 4 {
			level 13 1
			level 15 2
			level 17 3
		}
		rank 5 {
			level 17 1
			level 19 2
		}
	}
}
ranger {
	/*
		- Known caster (spells are added to the character at level up, when cantrips or spells-known increases)
			- must be spells with the Ranger tag
			- on any level up: can remove 1 spell from current known and replace it with any other Ranger spell
		- slots reset on: Long rest
	*/
	ability "Wisdom"
	spells-known {
		level 2 2
		level 3 3
		level 5 4
		level 7 5
		level 9 6
		level 11 7
		level 13 8
		level 15 9
		level 17 10
		level 19 11
	}
	slots {
		rank 1 {
			level 2 2
			level 3 3
			level 5 4
		}
		rank 2 {
			level 5 2
			level 7 3
		}
		rank 3 {
			level 9 2
			level 11 3
		}
		rank 4 {
			level 13 1
			level 15 2
			level 17 3
		}
		rank 5 {
			level 17 1
			level 19 2
		}
	}
}
sorcerer {
	/*
		- Known caster (spells are added to the character at level up, when cantrips or spells-known increases)
			- must be spells with the Sorcerer tag
			- on any level up: can remove 1 spell from current known and replace it with any other Sorcerer spell
		- slots reset on: Long rest
		- focus: any arcane focus
	*/
	ability "Charisma"
	cantrips {
		level 1 4
		level 4 5
		level 10 6
	}
	spells-known {
		level 1 2
		level 2 3
		level 3 4
		level 4 5
		level 5 6
		level 6 7
		level 7 8
		level 8 9
		level 9 10
		level 10 11
		level 11 12
		level 13 13
		level 15 14
		level 17 15
	}
	slots {
		rank 1 {
			level 1 2
			level 2 3
			level 3 4
		}
		rank 2 {
			level 3 2
			level 4 3
		}
		rank 3 {
			level 5 2
			level 6 3
		}
		rank 4 {
			level 7 1
			level 8 2
			level 9 3
		}
		rank 5 {
			level 9 1
			level 10 2
			level 18 3
		}
		rank 6 {
			level 11 1
			level 19 2
		}
		rank 7 {
			level 13 1
			level 20 2
		}
		rank 8 {
			level 15 1
		}
		rank 9 {
			level 17 1
		}
	}
}
warlock {
	/*
		- Known caster (spells are added to the character at level up, when cantrips or spells-known increases)
			- must be spells with the Warlock tag
			- on any level up: can remove 1 spell from current known and replace it with any other Warlock spell
		- slots reset on: Short rest
		- focus: any arcane focus
	*/
	ability "Charisma"
	cantrips {
		level 1 2
		level 4 3
		level 10 4
	}
	spells-known {
		level 1 2
		level 2 3
		level 3 4
		level 4 5
		level 5 6
		level 6 7
		level 7 8
		level 8 9
		level 9 10
		level 11 11
		level 13 12
		level 15 13
		level 17 14
		level 19 15
	}
	slots {
		// warlock is unique in that their slots aren't incremental, they get replaced
		level 1 amount=1 rank=1
		level 2 amount=2
		level 3 rank=2
		level 5 rank=3
		level 7 rank=4
		level 9 rank=5
		level 11 amount=3
		level 17 amount=4
	}
}
wizard {
	/*
		- Prepared caster
			- spells must have the Wizard tag
			- prepared when finishing long rest, spending 1 minute per spell level per spell
			- capacity: Intelligence (spellcasting ability) + class level (minimum 1 spell)
		- slots reset on: Long rest
		- focus: any arcane focus
		- spellbook
			- instead of preparing from wizard spell list, you prepare from a spellbook
			- learn 2 wizard spells on level up (of any rank you have a slot for)
			- 2hr+50GP (per rank) to transcribe a spell from a scroll or other spellbook
			- 1hr+10GP (per rank) to duplicate a spell into another spellbook
	*/
	ability "Intelligence"
	ritual "Wizard" // ritual cast any wizard spell in spellbook, even if not prepared
	cantrips {
		level 1 3
		level 4 4
		level 10 5
	}
	slots {
		rank 1 {
			level 1 2
			level 2 3
			level 3 4
		}
		rank 2 {
			level 3 2
			level 4 3
		}
		rank 3 {
			level 5 2
			level 6 3
		}
		rank 4 {
			level 7 1
			level 8 2
			level 9 3
		}
		rank 5 {
			level 9 1
			level 10 2
			level 18 3
		}
		rank 6 {
			level 11 1
			level 19 2
		}
		rank 7 {
			level 13 1
			level 20 2
		}
		rank 8 {
			level 15 1
		}
		rank 9 {
			level 17 1
		}
	}
}
// ~~~~~~ Subclasses ~~~~~~
/* Known Caster - Expanded Spell List (only warlock)
	- At certain levels, add specific spells to the list of spells you can know (even ones that aren't warlock spells)
	eg:
	Level 1 - burning hands, command
	Level 2 - blindness/deafness, scorching ray
	Level 3 - fireball, stinking cloud
	Level 4 - fire shield, wall of fire
	Level 5 - flame strike, hallow
*/
/* Prepared Caster - <flavor> Spells (Life Cleric, Land Druid, Devotion Paladin, etc)
	- at certain levels, specific spells are always prepared for you, and dont count against the number of spells you can prepare
	- any spell added in this way is treated as a spell you naturally get (e.g. cleric getting a non-cleric spell that is treated as a cleric spell)
*/
// ~~~~~~ Features, Items, Etc ~~~~~~
/* Warlock's Mystic Arcanum
	- pick a rank 6 Warlock spell
	- can cast 1 time without spell slot per long rest
	- granted again at level 13 (rank 7), level 15 (rank 8), and level 17 (rank 9)
	- resets limited use on long rest
*/
/* Warlock's Eldritch Master
	Mutator to renew/reset all expended spell slots on action used
*/
/* Bard's Additional Magic Secrets
	- select 2 spells from any class (of a rank that you have a slot for, or a cantrip)
	- these spells are known for you, and are treated as bard spells
	- always castable via spell slot without counting against known spells budget
*/

/* Overview
	- Both known and prepared casters have a source list
		- can be a spell-restriction (e.g. spells with a tag)
		- can be a spell container which has the can-be-prepared-from flag
	- Spellcasters with the ritual property can cast any spells which meet the criteria
		- can be any prepared spells (e.g. the spells a cleric has prepared for the day)
		- can be any spell from the spell source (e.g. wizard's spellbook)
	- Features which add spells to the source list (known casters can select from, prepared casters can prepare from)
	- Features which add spells you can always - which use a spell slot (e.g. prepared caster subclass <flavor> spells)
	- Features which add spells you can cast by using a limited use action
		- spellcasting ability must be specified (may match the spellcasting ability of the class)
		- these spells can be specific or selectable by some criteria/restriction
		- can be more than 1 spell
		- each spell added in this way can cost some number of limited uses
	- Feature which, when used, resets expended spell slots
		- e.g. all expended (Warlock's Eldritch Master)
		- e.g. some expended (Wizard's Arcane Recovery)
	- Mutator grants a spell/cantrip that you can always cast, using a specific ability (e.g. racial spellcasting traits)
*/
