
/* Overview
	- Both known and prepared casters have a source list
		- can be a spell-restriction (e.g. spells with a tag)
		- can be a spell container which has the can-be-prepared-from flag
	- Spellcasters with the ritual property can cast any spells which meet the criteria
		- can be any prepared spells (e.g. the spells a cleric has prepared for the day)
		- can be any spell from the spell source (e.g. wizard's spellbook)
	- Features which add spells to the source list (known casters can select from, prepared casters can prepare from)
	- Features which add spells you can always - which use a spell slot (e.g. prepared caster subclass <flavor> spells)
	- Features which add spells you can cast by using a limited use action
		- spellcasting ability must be specified (may match the spellcasting ability of the class)
		- these spells can be specific or selectable by some criteria/restriction
		- can be more than 1 spell
		- each spell added in this way can cost some number of limited uses
	- Feature which, when used, resets expended spell slots
		- e.g. all expended (Warlock's Eldritch Master)
		- e.g. some expended (Wizard's Arcane Recovery)
	- Mutator grants a spell/cantrip that you can always cast, using a specific ability (e.g. racial spellcasting traits)
*/
