[submodule "modules/basic-rules"]
	path = modules/basic-rules
	url = git@github.com:flux-tabletop/dnd5e-basic-rules.git
[submodule "modules/elf-and-orc"]
	path = modules/elf-and-orc
	url = git@github.com:flux-tabletop/elf-and-orc.git
[submodule "modules/wotc-oota"]
	path = modules/wotc-oota
	url = git@github.com:flux-tabletop/wotc-oota.git
[submodule "modules/wotc-phb"]
	path = modules/wotc-phb
	url = git@github.com:flux-tabletop/wotc-phb.git
[submodule "modules/wotc-toa"]
	path = modules/wotc-toa
	url = git@github.com:flux-tabletop/wotc-toa.git
[submodule "modules/homebrew"]
	path = modules/homebrew
	url = git@github.com:temportalflux/integro-homebrew.git
[submodule "crates/netlify-oauth"]
	path = crates/netlify-oauth
	url = git@github.com:temportalflux/netlify-oauth-rs.git
[submodule "crates/github"]
	path = crates/github
	url = git@github.com:temportalflux/github-rs.git
[submodule "crates/database"]
	path = crates/database
	url = git@github.com:temportalflux/idb-database.git
[submodule "crates/kdlize"]
	path = crates/kdlize
	url = git@github.com:temportalflux/kdlize.git
