@charset "utf-8";

@import "src/components/annotated_number.scss";
@import "src/components/nav_onesheet_tabs.scss";
@import "src/components/tag.scss";
@import "src/system/dnd5e/components/ability/score.scss";

.table-compact > :not(caption) > * > * {
	padding: 3px 3px;
}

.tooltip-inner {
	max-width: fit-content;
}
.attributed-tooltip > span {
	display: block;
	font-size: 12px;
}

.proficiency-section {
	border-style: solid;
	border-color: var(--bs-border-color);
	border-width: 0;
	border-bottom-width: var(--bs-border-width);
	margin-bottom: 0.5rem;
	padding-bottom: 0.25rem;
}
.proficiency-section > h6 {
	font-size: 0.8rem;
	color: var(--bs-card-title-color);
}