@use "../../../../components/glyph.scss";

.glyph.advantage {
	@extend .mask;
	--glyph-image: url(assets/modifier/advantage.svg);
	--glyph-color: #00c680;
	width: 24px;
}

.glyph.disadvantage {
	@extend .mask;
	--glyph-image: url(assets/modifier/disadvantage.svg);
	--glyph-color: #e40712;
	width: 24px;
}
