Agony
Weapon (flail), legendary (requires attunement by a
creature of non-good alignment)
Utilized in countless tortures and slow executions,
the hooked chains of this brutal weapon constantly
show dried blood and rot. Legend says that Agony
was wielded in the Calamity by the gnoll scion of a
flesh-eating Demon Lord.
Dormant
While Agony is in a dormant state, you gain a +2
bonus to attack and damage rolls made with this
magic weapon. Whenever you damage a creature
with Agony, that creature is marked for 10 minutes
or until you damage a different creature. When you
hit a creature marked in this way with this weapon,
the target takes an extra 1d6 piercing damage.
Awakened
When Agony reaches an awakened state, you gain
the following benefits:
• The extra damage when you hit a marked creature
increases to 1d8.

• A marked creature has disadvantage on Constitu-
tion checks and Constitution saving throws.

• When you reduce a creature to 0 hit points with
an attack using Agony, you can immediately make
an additional melee attack with this weapon as a
bonus action.
Exalted
When Agony reaches an exalted state, you gain the
following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +3.
• The extra damage when you hit a marked creature
increases to 2d8.

• When you score a critical hit with this weapon, the
target must succeed on a DC 17 Wisdom saving
throw or become frightened of you for 1 minute.
On a success, the target is immune to this effect
for 24 hours.
Armor of the Valiant Soul
Armor (scale), legendary (requires attunement)

This antique armor forged from jade and black-
dragon scales was once worn by J’mon Sa Ord of

Ank’Harel.
Dormant
While the Armor of the Valiant Soul is in a dormant
state, you gain a +1 bonus to AC while wearing it.
You can also cast the command spell (save DC
14) while attuned to this armor. Once this property
is used, it can’t be used again until you finish a
long rest.
Awakened
When the Armor of the Valiant Soul reaches an
awakened state, you gain the following benefits:
• The AC bonus of the armor increases to +2.
• You have resistance to acid damage while wearing
this armor.
• You are immune to the frightened condition while
wearing this armor.
• The spell save DC for the armor’s command spell
increases to 16, and the spell can target up to three
creatures.
Exalted
When the Armor of the Valiant Soul reaches an
exalted state, you gain the following benefits:
• The AC bonus of the armor increases to +3.
• You are immune to acid damage while wearing
this armor.
• All friendly creatures within 15 feet of you are
immune to the frightened condition as long as you
are conscious.
• The spell save DC of the armor’s command spell
increases to 18, and the spell can target up to five
creatures.

Cabal’s Ruin
Wondrous item, legendary (requires attunement)
This cloak is made of heavy dark cloth trimmed with
golden patterns, and occasionally shimmers with
sparks of arcane energy. It was once worn by the
famed gunslinger Percival Fredrickstein von Musel
Klossowski de Rolo III of Whitestone.
Dormant
While Cabal’s Ruin is in a dormant state, the cloak
has 4 charges and it regains 1d4 expended charges
daily at dawn. When you hit with an attack, you can
expend any number of charges from the cloak, with
the attack dealing an extra 1d6 lightning damage

per charge expended. If your attack strikes multi-
ple targets, you choose one target that takes this

extra damage.
When you are targeted by an enemy’s spell, you
can use your reaction to absorb a portion of the
spell’s energy into the cloak. The spell affects you
normally, but the cloak regains a number of charges
equal to the level of the spell. This property can’t be
used again until you finish a short or long rest.

Awakened
When Cabal’s Ruin reaches an awakened state, you
gain the following benefits:
• You have advantage on saving throws against
spells and other magical effects while wearing
this cloak.
• The cloak has 6 charges and it regains 1d4 + 2
expended charges daily at dawn.
• When you use the cloak to absorb a spell, you gain
resistance to one type of damage dealt by the spell
(your choice). This resistance then lasts until the
end of your next turn.
Exalted
When Cabal’s Ruin reaches an exalted state, you
gain the following benefit:
• The cloak has 10 charges and it regains 1d6 + 4
expended charges daily at dawn.
Circlet of Barbed Vision
Wondrous item, legendary (requires attunement by a
creature of non-good alignment)
When you don this circlet of gnarled onyx, black
barbs dig into your head, imparting power to you
as the circlet twists your appearance to amuse the
Spider Queen. The current resting place of the
Circlet of Barbed Vision is unknown, but rumor has
it that a spectral assassin known as the Inevitable
End seeks this relic.
Dormant
While the Circlet of Barbed Vision is in a dormant
state, you have advantage on initiative rolls while
you wear it, but your Charisma score decreases by
2. Your Charisma score returns to normal if you
remove the circlet, but you take 4d6 psychic damage
when you do so.
Additionally, when you make an attack roll, you
can use your reaction to gain a +5 bonus to the
roll. You make this choice after you see the roll,
but before the GM says whether the attack hits or
misses. You can’t use this property again until you
finish a short or long rest.
Awakened

When the Circlet of Barbed Vision reaches an awak-
ened state, you gain the following benefits:

• You have resistance to poison damage, and you are
immune to the poisoned condition.
• Your ability to gain a bonus to an attack roll can be
used twice between rests.
Exalted
When the Circlet of Barbed Vision reaches an
exalted state, you gain the following benefits:
• You are immune to poison damage.
• You have truesight out to a range of 60 feet.
• Your ability to gain a bonus to an attack roll can be
used three times between rests.
Condemner
Weapon (heavy crossbow), legendary (requires
attunement)
This shadow-touched crossbow once served as the
weapon of choice for the legendary assassin Todora.
Though few know this, Condemner is now in the
possession of an equally infamous assassin named
Ixrattu Khar (see page 62).
Dormant
When Condemner is in a dormant state, you gain a
+1 bonus to attack and damage rolls made with this
magic weapon. When you hit with an attack using

this weapon, the target takes an extra 1d4 poi-
son damage.

Additionally, if you hit with an attack using this
weapon, you can activate one of the following effects
instead of dealing damage:
• You cast fog cloud centered on the target’s space.
• You cast silence centered on the target’s space.
When an effect is used, it can’t be used again until
you finish a short or long rest.
Awakened
When Condemner reaches an awakened state, you
gain the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +2.
• The extra poison damage dealt by the weapon
increases to 1d6.
• You gain an additional effect that can be triggered
in place of dealing damage when you hit with an
attack: You cast hold person on the target (save DC
15). This effect can’t be used again until you finish
a short or long rest.
Exalted
When Condemner reaches an exalted state, you gain
the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +3.
• The extra poison damage dealt by the weapon
increases to 1d8.
• The save DC for the weapon’s hold person spell
increases to 17.
• You gain an additional effect that can be triggered
in place of damage when you hit with an attack:
You cast the blight spell on the target (save DC 17).
This effect can’t be used again until you finish a
short or long rest.
Deathwalker’s Ward
Armor (studded leather), legendary (requires
attunement)

This beautiful black leather armor is covered in intri-
cate scrollwork, and has a mantle bearing the black

feathers of the Matron of Ravens. Legends say that it

has been worn by a number of that deity’s champi-
ons over the centuries—most recently, Vax’ildan of

Vox Machina.
Dormant
When the Deathwalker’s Ward is in a dormant state,
you gain a +1 bonus to AC and you have advantage on
death saving throws while wearing the armor.
Awakened
When the Deathwalker’s Ward reaches an awakened
state, you gain the following benefits:
• The AC bonus of the armor increases to +2.
• While wearing the armor, you have resistance to
one of the following damage types of your choice:
acid, cold, fire, lightning, necrotic, or poison. You
can change the damage type when you finish a
short rest.
Exalted
When the Deathwalker’s Ward reaches an exalted
state, you gain the following benefits:
• The AC bonus of the armor increases to +3.
• As a bonus action, you grow large black raven
wings that grant you a flying speed of 60 feet and
last for 1 hour. Once this property is used, it can’t
be used again until you finish a long rest.
Fenthras
Weapon (longbow), legendary (requires attunement)
This gorgeous longbow made of everbark from the
Fey Realm flexes and shifts like a living entity. It is
said to have been wielded by the legendary ranger
Vex’ahlia against great evils.
Dormant
While Fenthras is in a dormant state, you gain a +1
bonus to attack and damage rolls made with this
magic weapon.
When you make an attack with Fenthras, you can
declare it an oracle shot, allowing you to experience
the area around the arrow using your normal senses for 10 minutes. Once this property is used, it can’t be
used again until you finish a short or long rest.
Additionally, when a creature is killed by an attack
using this weapon, a six-foot-tall tree rapidly grows
out of the corpse over the next minute. The tree is
rooted in the ground to make the body difficult to
move, but does not permanently damage the corpse
or its organs.
Awakened
When Fenthras reaches an awakened state, you gain
the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +2. Additionally, when you hit with an
attack using this weapon, the target takes an extra
1d4 lightning damage.
• When you hit with an attack using this weapon,
you can declare it a bramble shot. The attack deals
an extra 3d8 piercing damage, and the target must
succeed on a DC 15 Strength saving throw or
become restrained by steely brambles that burst
from the arrow. A restrained target can repeat the
saving throw at the end of each of its turns, ending
the effect on itself on a success. Once this property
is used, it can’t be used again until you finish a
short or long rest.
Exalted
When Fenthras reaches an exalted state, you gain
the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +3.
• The extra lightning damage dealt by attacks using
the bow increases to 1d6.
• You can declare a bramble shot twice between
rests, and the saving throw DC increases to 17.

Honor’s Last Stand
Armor (shield), legendary (requires attunement by a
creature of non-evil alignment)
This massive silvered shield bears the crest of the
Platinum Dragon and never tarnishes. Its metal is
always warm to the touch.
Dormant
While Honor’s Last Stand is in a dormant state, you
gain a +1 bonus to AC while holding the shield. This
bonus is in addition to the shield’s normal bonus to
AC. You also can’t be knocked prone while bearing
this shield.
Awakened
When Honor’s Last Stand reaches an awakened
state, you gain the following benefits:
• The shield’s bonus to AC increases to +2.
• If you successfully shove a creature while holding
this shield, that creature takes 2d6 force damage.
• When a creature within 5 feet of you misses you

with an attack, you can attempt to shove that crea-
ture as a reaction.

Exalted
When Honor’s Last Stand reaches an exalted state,
you gain the following benefits:
• The shield’s bonus to AC increases to +3.
• When you successfully shove a creature while
holding this shield, you can move it up to 15 feet
away from you.
• As a bonus action, you can protect an ally within
5 feet of you, granting that ally a +3 bonus to AC
until the start of your next turn or until they are no
longer within 5 feet of you.

Kiss of the Changebringer
Wondrous item, legendary (requires attunement)
A beautiful, glittering emerald is set within this silver
chain, humming with power and possibility. It is
said that this amulet was stolen from the neck of the
Changebringer herself by the Lord of the Hells, and
locked within the vaults of Bazzoxan in Wildemount.
It was later claimed there by a group of Aurora
Watch soldiers during an expedition into that grim
fortress’s abandoned temples.
Dormant
While the Kiss of the Changebringer is in a dormant
state, you have a +1 bonus to saving throws and are
immune to the grappled condition while wearing it.
Awakened
When the Kiss of the Changebringer reaches an
awakened state, you gain the following benefits:
• The bonus to saving throws increases to +2.
• You are immune to the restrained condition.
• You can use an action to cast the blink spell on
yourself. This property of the amulet can’t be used
again until you finish a long rest.
Exalted
When the Kiss of the Changebringer reaches an
exalted state, you gain the following benefits:
• The bonus to saving throws increases to +3.
• You are immune to the paralyzed and petrified
conditions.
• When you make an attack roll, ability check, or sav-
ing throw, you can roll an additional d20. You can

choose to do so after you make the attack roll, abil-
ity check, or saving throw, but before the outcome

is determined. You choose which of the d20s to use
for your roll. This property of the amulet can’t be
used again until you finish a short or long rest.
Mythcarver
Weapon (longsword), legendary (requires attunement
by a bard)
This incredible silvered blade once belonged to the
legendary White Duke, a founding member of the
Golden Grin, and many other master bards before
him. It resonates with nearby musical tones. In the
modern era, it is best known as the personal weapon
of famed bard Scanlan Shorthalt.
Dormant
While Mythcarver is in a dormant state, you gain a
+1 bonus to attack and damage rolls made with this
magic weapon. This longsword’s enchantments and
light construction also grant it the Finesse property,

which allows you to use either your Strength or Dex-
terity modifier for the attack and damage rolls when

making an attack with this weapon.
Additionally, when you target an ally with your
Bardic Inspiration feature, you gain advantage on
attacks with this weapon until the end of your turn.
Awakened
When Mythcarver reaches an awakened state, you
gain the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +2. Additionally, when you hit with an
attack using this weapon, the target takes an extra
1d6 force damage.
• When you use your Bardic Inspiration to affect an
enemy while wielding this sword, that enemy has
disadvantage on their next saving throw.
Exalted
When Mythcarver reaches an exalted state, you gain
the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +3.

• As an action, you let the spirit of the sword over-
take your body and guide your strikes. You make 4

melee attacks with the sword, then gain 1 level of
exhaustion. Once this property is used, it can’t be
used again until you finish a long rest.
Plate of the Dawnmartyr
Armor (plate), legendary (requires attunement)
Beautiful silver scrollwork and priceless cut rubies
adorn this set of brass-and-gold armor. Legend holds

that it was worn by Duana, High Priest of the Dawn-
father, when she was martyred in the Battle of Ghor

Dranas in the final days of the Calamity. In more

recent times, it was worn by Pike Trickfoot, a legend-
ary cleric of the Everlight, while fighting against the

Chroma Conclave and the Whispered One.
Dormant
While the Plate of the Dawnmartyr is in a dormant
state, you gain a +1 bonus to AC while wearing it.
When a creature within 5 feet of you hits you with
a melee attack, you can use your reaction to rebuke
that creature, dealing it 1d6 fire damage.
Awakened

When the Plate of the Dawnmartyr reaches an awak-
ened state, you gain the following benefits:

• The armor’s bonus to AC increases to +2.
• You are immune to the frightened condition.
• You have resistance to fire damage.
• The fire damage you deal when you rebuke an
attacker increases to 2d6.
Exalted
When the Plate of the Dawnmartyr reaches an
exalted state, you gain the following benefits:
• The armor’s bonus to AC increases to +3.
• When you rebuke an attacker, you can choose to
deal either fire damage or radiant damage.
• When you are reduced to 0 hit points, you can
choose to have a blast of healing flame surround
you. You regain 1 hit point and are lifted to your
feet. Each enemy within 10 feet of you takes 2d6
fire damage or radiant damage (your choice). This
property of the armor can’t be used again until you
finish a long rest.
Pyremaul
Weapon (maul), legendary (requires attunement)
Forged from deep red iron, this massive hammer
is set with a brilliant fire opal that shimmers with
eternal flame. It is rumored to be currently wielded

by Grand Legate Phaestor, the fire giant ruler of Vul-
kanon, somewhere beneath the Cliffkeep Mountains.

Dormant
While Pyremaul is in a dormant state, you gain a +1
bonus to attack rolls made with this magic weapon.
When you hit with an attack using this weapon, the
target takes an extra 1d6 fire damage.
Additionally, you can choose to have this weapon
shed bright light in a 30-foot radius and dim light for
an additional 30 feet (no action required).
Awakened
When Pyremaul reaches an awakened state, you
gain the following benefits:
• The weapon’s bonus to attack rolls increases to +2.
• The extra fire damage dealt by the weapon
increases to 2d6.
• As an action, you can slam Pyremaul into the
ground to cast the burning hands spell at 2nd level
(save DC 15). You can’t use this property again
until you finish a short or long rest.
• Whenever you score a critical hit with this weapon,

the target must succeed on a DC 15 Strength sav-
ing throw or be knocked prone.

Exalted
When Pyremaul reaches an exalted state, you gain
the following benefits:
• The weapon’s bonus to attack rolls increases to +3.
• The extra fire damage dealt by the weapon
increases to 3d6.
• When you cast burning hands with the
weapon, you do so at 3rd level and the save DC
increases to 17.
• When you score a critical hit with this weapon,
the saving throw to avoid being knocked prone
increases to 17. You also roll an extra 3d6 fire
damage when determining the extra damage for
the critical hit.
• When you kill a creature with an attack using
this weapon, you can take 10d10 fire damage and
immolate the creature’s corpse. This damage
can’t be reduced in any way, and you die if this
damage reduces you to 0 hit points. The immolated
creature and everything it is wearing and carrying,
except magic items, are reduced to a pile of ash.
The creature can be restored to life only by means
of a true resurrection or a wish spell. You can’t
use this property of the maul again until 7 days
have passed.
Spire of Conflux
Staff, legendary (requires attunement by a
spellcaster)
A powerful relic passed down from generation to
generation of Ashari leaders, the Spire of Conflux
was lost over three centuries ago when Joran the
Sea-Speaker, a respected leader of the Water Ashari,

was devoured by a demon of the Abyss. It was redis-
covered by the legendary druid Keyleth of Zephrah,

Voice of the Tempest. However, rumors swirl that
she is seeking another hero to wield it—one who
can travel the land and do good in small ways as
she once did
Dormant
While the Spire of Conflux is in a dormant state, the
staff has 8 charges and regains 1d4 + 2 expended
charges daily at dawn. While holding the staff, you
can expend 1 or more of its charges to cast one of
the following spells from it, using your spell save DC:
burning hands (1 charge) or fireball (3 charges).
Additionally, while holding this staff, you have a
+1 bonus to spell attack rolls and your spell save DC
increases by 1.
Awakened
When the Spire of Conflux reaches an awakened
state, you gain the following benefits:
• The staff has 12 charges, and it regains 1d6 + 2
expended charges daily at dawn.
• You can also spend charges to cast the following
spells from the staff: conjure elemental (5 charges)
or ice storm (4 charges).
• When you cast a spell that deals bludgeoning, cold,
fire, lightning, or thunder damage and you roll a 1
on a damage die, you can reroll the die and must
use the new roll.
Exalted
When the Spire of Conflux reaches an exalted state,
you gain the following benefits:
• The staff has 20 charges, and it regains 1d6 + 4
expended charges daily at dawn.
• You can also spend charges to cast the following
spells from the staff: chain lightning (6 charges) or
fire storm (7 charges)
• The bonus to spell attack rolls and your spell save
DC increases to +2.
Star Razor
Weapon (longsword), legendary (requires
attunement)

The thick, grooved blade of this shining silver long-
sword is lined with etched runes that sparkle blue in

the light. Star Razor—known also as Dwueth’var—
was thought to have been destroyed or lost after the
Calamity, but new rumors suggest that it might be
wielded by a half-orc somewhere in Wildemount.
Dormant
While Star Razor is in a dormant state, you can
hold this magic longsword and use a bonus action
to speak the command word Galas-var, causing the
sword to emit a pale blue glow that sheds bright light
in a 20-foot radius and dim light for an additional 20
feet. This glow lasts until you use a bonus action to
speak the command word again, or until you drop or
sheathe the sword.
• While this longsword is glowing, you gain a +1
bonus to attack and damage rolls made with

the weapon, and you have resistance to radi-
ant damage.

• You can cast the faerie fire spell from the weapon
as an action, requiring no components (save DC
13). Once a spell has been cast using Star Razor,
that spell can’t be cast from the sword until the
next dawn.

Awakened
When Star Razor reaches an awakened state, you
gain the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +2.
• When a creature within 5 feet of you hits you with
a melee attack, you can use your reaction to create
a burst of radiance from the sword, dealing 1d8
radiant damage to the attacker.
• You can cast the see invisibility spell from the
sword as an action, and the save DC for spells cast
using the sword increases to 15.
Exalted
When Star Razor reaches an exalted state, you gain
the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +3.
• The burst of radiance you can create as a reaction
when hit with a melee attack deals 1d12 radiant
damage, and you can immediately teleport to an
unoccupied space you can see within 15 feet of you
as part of the same reaction.
• You can cast the fly spell from the sword as an
action, and the save DC for spells cast using the
sword increases to 17.
Titanstone Knuckles
Wondrous item, legendary (requires attunement)

Carved from the heartstone of a slain earth primor-
dial, these gauntlets bestow immeasurable might to

their wearer. In recent times, they were wielded by

the legendary barbarian Grog Strongjaw, who con-
tinues to use them as he seeks worthy challengers

across Tal’Dorei and Exandria.
Dormant
While the Titanstone Knuckles are in a dormant
state, your Strength score becomes 22 while you
wear these gauntlets. Additionally, your weapon
attacks deal double damage to objects and
structures.
Awakened
When the Titanstone Knuckles reach an awakened
state, they gain the following properties:
• Your Strength score becomes 24.
• You can use an action to cast the enlarge/reduce
spell from the gauntlets on yourself (enlarge only),
with a duration of 10 minutes. This property of
the gauntlets can’t be used again until you finish a
long rest.
Exalted
When the Titanstone Knuckles reach an exalted
state, they gain the following properties:
• Your Strength score becomes 26.
• While you are under the effect of the enlarge/

reduce spell cast by the gauntlets, you have resis-
tance to cold, fire, lightning, and thunder damage.
Whisper
Weapon (dagger), legendary (requires attunement)
Forged with a mercurial metal accidentally drawn
from the Realms Beyond, this dagger shimmers with
an unsettling sourceless light. It was once wielded
by Vax’ildan, a legendary champion of the Matron of
Ravens. Two raven feathers are linked to its pommel
as a memento of its former bearer.
Dormant
While Whisper is in a dormant state, you gain a +1
bonus to attack and damage rolls made with this
magic weapon.
Additionally, when you score a critical hit with this
dagger, the target must succeed on a DC 13 Wisdom

saving throw or become frightened of you for 1 min-
ute. On a success, the target is immune to this effect

for 24 hours.
Awakened
When Whisper reaches an awakened state, you gain
the following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +2. Additionally, when you hit with an
attack using this dagger, the target takes an extra
1d6 psychic damage.
• The DC to resist being frightened from a critical
hit increases to 15.
Exalted
When Whisper reaches an exalted state, you gain the
following benefits:
• The weapon’s bonus to attack and damage rolls
increases to +3, and the extra psychic damage it
deals increases to 1d8.
• The DC to resist being frightened from a critical
hit increases to 17.
• When this dagger is used to make a ranged attack,
you can choose to transform into shadow and
merge with the blade as part of the action used
to attack, teleporting to another location. If the
attack hits, you appear in an unoccupied space of
your choice within 5 feet of the target. If the attack
misses, you appear where the GM determines the
dagger lands (typically within 1d6 × 5 feet of the
target). In either case, you appear with the dagger
in your hand.
Wraps of Dyamak
Wondrous item, legendary (requires attunement
by a monk)
Created and wielded by the ancient warrior-monk
Dyamak, these thick strips of enchanted cloth
are stained to appear dark crimson with blood of
unknown origin. The current resting place of the
wraps is unknown.
Dormant
When the Wraps of Dyamak are in a dormant state,
you gain a +1 bonus to attack and damage rolls made
with your unarmed strike while wearing them.

In addition, when you finish a short or long rest,
you gain a number of temporary hit points equal to
your total number of ki points.
Awakened
When the Wraps of Dyamak reach an awakened
state, they gain the following properties:
• The bonus to attack and damage rolls with your
unarmed strike increases to +2.
• You can cast the misty step spell from the wraps
as a bonus action, vanishing in a cloud of crimson
mist. This property of the wraps can’t be used
again until you finish a short or long rest, or until
you score a critical hit with an unarmed strike
against a hostile creature.
Exalted
When the Wraps of Dyamak reach an exalted state,
they gain the following properties:
• The bonus to attack and damage rolls with your
unarmed strike increases to +3.
• When you hit with an unarmed strike, you can
choose to make the attack a ravenous strike. The
target takes an extra 6d6 necrotic damage, and you
regain hit points equal to the amount of necrotic
damage dealt. This property of the wraps can’t be
used again until you finish a long rest, or until you
score a critical hit with an unarmed strike against
a hostile creature.