Dragonblood
The dragonblood of Exandria are a people of
unknown origin, and countless myths surround their
ancestral creation. One particularly pervasive tale
states that dragonblood were created by the Scaled
Tyrant and the Platinum Dragon during the
Calamity, serving as loyal soldiers who eventually
earned their freedom. Regardless of how they came
into being, though, the dragonblood lived for many
centuries in relative isolation in the southern wastes
of Xhorhas, on the continent of Wildemount.
Today, dragonblood live all over Exandria, though
they remain a scarcer sight in Tal’Dorei than in
Wildemount. Their spread across the world was
hastened by the assault against the free peoples of

Exandria by the Chroma Conclave. During that con-
flict, the ancient white dragon known as Vorugal the

Frigid Doom destroyed the magical city-state of Dra-
conia, the ancestral homeland of most dragonblood.

The destruction of Draconia and the loss of many
of its people was a tragedy. But to roughly half the
dragonblood of Exandria, it also marked the end of
an oppressive regime. Dragonblood of Exandria can
either be born with a tail or without. In Draconia,

those with tails were called draconians or dracon-
bloods, for they were seen as closer in form and

power to true dragons. Those without tails were
given the name of ravenites and enslaved. Their blood and toil built the mighty towers of Draconia,
yet the ravenites enjoyed none of their city’s splendor.
The ruin of Draconia thus marked the start of an

era of freedom and self-determination for the rave-
nites. In Tal’Dorei, it’s apparent that any differences

between the ravenites and the draconians have noth-
ing to do with bloodline or draconic power. Those

differences are cultural, and rooted in a past whose
conflicts still haven’t been resolved. The oppression
that existed in Draconia remains largely unknown
within Tal’Dorei to this day, and outside of major
cities such as Emon, dragonblood can go for months,
even years, without seeing another of their kind.
Draconians
The tail-bearing draconians who survived the
destruction of Draconia have been scattered across
the world. In the time that’s passed since the fall of

the dragonblood city-state, a generation of dracon-
bloods have grown up in Tal’Dorei’s towns and cities,

disconnected from their parents’ privileged upbring-
ing. Only a scant few draconians—typically ones able

to teleport away from Vorugal’s attack—escaped with
any sort of wealth. Most other refugees were lucky
simply to escape with their lives.
Clinging to the Past. A social divide continues
to grow between draconians who have wealth and
those who don’t. Many of those with wealth greedily
cling to the shadows of their former tyrannical glory,
but other draconians seek instead to bury the past
and create their own destiny, on their own merits.
Ravenites

Following the end of the Draconian order, the rave-
nites ventured into the world eager to make the most

of their newfound freedom. In the generation since,
many have formed a new homeland in Xhorhas
known as Xarzith Kitril, content to reclaim the lands

of their birth. Those ravenites who departed Wilde-
mount have found a new home in the cities and the

icy north of Tal’Dorei, where they enjoy the freedom
and privileges of equality that this land provides.
Rebuilding from Scratch. Most ravenite children
grew up poor, either in slum towns at the edges of

cities like Emon and Westruun, or helping their par-
ents laboriously carve out rural lives in the Dividing

Plains or Cliffkeep Mountains.