/*
When the world was nearly rent asunder by the
Calamity, the dwarves of Tal’Dorei disappeared
underground to wait out the worst of the conflict.
Many dwarven citadels once dotted the subterranean
world, but over the centuries, they dwindled, either
merging together or falling into decadence and ruin.
In the centuries following the Calamity, these dwarf
clans, isolated beneath the surface of Exandria,

gathered into a single, steadfast redoubt: Kragham-
mer. In one way or another, just about every dwarf

in Tal’Dorei can trace their family back to that great
city-state.
The mountainous stronghold still stands as the
heart of settlement in the Cliffkeep Mountains, and
many dwarves consider it a place all their folk should
visit at least once a decade. Kraghammer’s legendary
status gives it a highly conservative, unchanging
culture, but even so, the dwarf people are far from
monolithic.
Some dwarves like to distinguish themselves
as hill or mountain dwarves, based on whether or
not they grew up outside or inside of Kraghammer.
Gurdhe, a Dwarvish word translated into Common
as “hill,” colloquially means “beyond the mountains”
in most Dwarvish dialects. And many dwarves, even
the so-called mountain-dwellers renowned for living
their entire lives underground, make journeys out
into the “hills” of Tal’Dorei to trade, gain artistic
inspiration, or visit the children of long-dead friends
they bonded with decades or centuries prior.
Kraghammer Dwarves
The culture of Kraghammer is one of isolationism
and tradition—even to the point of xenophobia. As a
common saying goes: “Those who live beneath the
mountain are as unmoving as the mountain itself.”
Whether they're dwarves, gnomes, or folk of other
ancestries, the people who dwell in Kraghammer
typically embody this stubborn, dogmatic stoicism.
Tradition. Kraghammer society is steeped in a
culture of dwarves protecting their own, and those

dwarves’ traditions of meticulous chronicling, geo-
metrically precise artistry, dynastic great houses,

and resilience against even the greatest of threats
has proved itself a central pillar of their society.
For long centuries, new peoples and new ideas in
Kraghammer meant potential danger, threatening
the death of monarchs and incursion by nefarious

subterranean infiltrators. The first time that Kra-
ghammer proudly opened its gates to a new people,

the oligarch Warren Drassig led all of Tal’Dorei into
the greatest war since the Age of Arcanum. The
city’s relative safety during the assault of the Chroma

Conclave only cemented its people’s belief that isola-
tion is strength.

Change. In the present day, many of Kragham-
mer’s residents feel stifled by its dominant culture,

which continues to be insular and suspicious of
outsiders and new ideas. In the past few decades, a
tide of refugees fleeing crises such as the Wittebak
disaster and the Cinder King’s attack on Emon have
brought new voices and perspectives to the formerly
unyielding halls of Kraghammer. These people
now call the dwarves’ ancestral realm their home,
and many of Kraghammer’s dwarves have seen the
innovation and transformation that new residents
can bring. Change comes slowly in Kraghammer, but
it does come in time.
Hill Travelers
Dwarves might leave their underground realm for
myriad reasons, with many making homesteads in

the foothills of the Cliffkeep Mountains or ventur-
ing even farther afield. Hill dwarves who left the

mountain themselves, or who had parents or more
distant ancestors who did so, have a certain shared
camaraderie in their connection to the open sky
above, the sun and wind around them, and the soft
loam beneath their feet.
Exploration. It’s common for dwarves who live
upon the hills and fields of Tal’Dorei to wander
throughout their lives, never putting down roots
for more than a decade or two at a time out of their
centuries-long lives. Dwarves with tanned skin and
sun-bleached hair are so common a sight in taverns
across the Dividing Plains that the Dwarvish word
gurdheledr, translated as “hill travelers,” has come to
mean “mercenary” or “bounty hunter” as commonly
as it refers to simple wanderers.
Community. Dwarves are a common sight in
cities such as Emon and Westruun, and even in
smaller towns across central Tal’Dorei. Not unlike
mountain-dwelling dwarves, these city dwellers are
often as unmoving as a granite boulder on a rock

shelf—unable to be budged unless given a tremen-
dous push. Dwarves typically adopt the culture of

wherever they live, though their long lives sometimes
make them more resistant to social change than
shorter-lived peoples.

Duergar of Emberhold
Deep beneath Tal’Dorei is an underground realm
lit only by magelight, magma flows, luminescent
creatures and fungi, and the roaring fires of duergar
forges. It is thought that a group of dwarves delved
far into the depths of Exandria countless centuries
ago, predating even the chronicles of Kraghammer.
Whether by choice or by necessity, they made a home
in the caverns they explored there. Something about
the magic that suffuses their eerie realm changed
the deep dwarves—who are called the duergar now.
That name was originally an epithet, bestowed by
the mountain dwarves who rediscovered and battled
those deep dwarves, but the duergar now wear it
with pride.
Survival. The deep caverns of Tal’Dorei are an

inhospitable place, filled with creatures whose aber-
rant forms defy imagination and whose alien minds

reject mortal morality. The duergar became hard-
ened by their struggle for survival, and their rejection

at the hands of the Kraghammer dwarves hardened
their hearts forever. The smiths of the Emberhold do
not forge art or works of beauty—only weapons and
armor to turn back the onslaught of those who wish
to see them dead.
Alliance. The duergar have suffered alone for so
long, hating all and hated by all. Nevertheless, in the
undercurrents of the Emberhold, the idea spreads
that there must be more to life than fire and death.
Many duergar nurture a secret hope of finding some

way to ally with their other dwarf kin—if only some-
one were brave enough to reach out a hand without

fear of it being cut off.
*/