Exandria’s lands are rife with elemental power. Pri-
mordial energy constantly flows into the world from

elemental rifts, and such primal power inevitably
alters its surroundings. This is also true of peoples
who spend long years in proximity to such sources
of power, and of those who travel the planes long
enough to find the seed of elemental power take root
within their blood. Such folk are the beginning of an
elemental ancestry, harboring the potential to give
birth to children who are suffused with latent magic.
Children of an elemental ancestry bear the
features of their parents’ ancestry, but have clearly
become something new. Their appearance is altered
by their power, granting them skin that shines like
the sun on the surface of the sea, hair that crackles
like flame, or eyes that glitter like gemstones. Then
comes the manifestation of elemental powers, which

can make a child the envy of their peers—or some-
one to be feared.

While people of elemental ancestry are rare in
Tal’Dorei, they are most common among the Ashari

due to the elemental affinity of that folk. Some pos-
sessed of elemental power enjoy the attention their

uniqueness garners them. But for others, even the
most benign interest draws painful attention to their
otherness.
Belonging. People with an elemental bloodline

are often raised by parents in a regular commu-
nity, and so grow up with all the aspirations and

prejudices inherent to their culture. For many such
people, the traits that make them unique also make
them a pillar of their community—for example, a
baker who instinctually understands the will of her
oven’s fire. Within superstitious lands and cultures,
however, a person’s elemental powers might make

them the target of scrutiny, fearmongering, or jeal-
ousy, eventually driving them to strike out into the

world to seek a place where they truly belong.
Called to the Ashari. Those elemental-touched
people who leave their communities often seek
out the Ashari, the isolated keepers of rifts to the
Elemental Planes. Elementally attuned children
are born with great frequency to the Ashari, who
understand the utmost importance of giving those
children the education and training that will let them
understand their gifts.
All people of elemental ancestry are welcome
among the Ashari, including the Air Ashari and
Earth Ashari found in Tal’Dorei. However, even
those whose elemental ancestry connects them to
water or fire can seek out Tal’Dorei’s Ashari peoples
to help them on their journeys of discovery. In time,
such a journey might lead them to the Fire Ashari on
the continent of Issylra, to the Water Ashari on the
Islands of Anamn in the Ozmit Sea, or to Ashari who
have journeyed from those lands to Tal’Dorei.
Elementally attuned folk who don’t seek or can’t
find the Ashari might instead find their way to the
reclusive giants of Tal’Dorei. Though the giants do
their best to keep their distance from the lives and
problems of humanoids, they have been known to

take a shine to people whose shared elemental affini-
ties give them common ground.