/*
When the Calamity threatened to annihilate all life
on Tal’Dorei, the elves of this land gathered in their

last remaining city, Syngorn, and used long-for-
gotten magic to transport themselves into the Fey

Realm. Time runs strangely in that realm, and for
an unknown stretch of history, the elves of Syngorn
lived with their fey kindred in peace. When they
eventually returned to Exandria, they found a land
devoid of all but animals and the grandeur of nature.
The rotten majesty of the Age of Arcanum, burned
away by the wrath of the gods, had given way to
new growth.
To the elves, the lands of Tal’Dorei are still called
Gwessar, and elves who dwell here are called the

gwes’alfen—the elves of the Fields of Joy. For centu-
ries, this folk watched with delight as other peoples

populated Gwessar, beginning with dwarves, then
humans from across the sea, and so on. Then they

looked on in horror as mortal ambition was per-
verted into greed, and war followed in its wake.

Elemental
Ancestry

154 Tal’Dorei Campaign Setting Reborn

Syngorn and the Verdant Expanse that surrounds
it are the ancestral homeland of Tal’Dorei’s elves,
many of whom never venture beyond that homeland.
Young elves are most likely to journey afield to see
what else the world has to offer, and while most of
them return to Syngorn, some make new homes
in the many towns and cities of Tal’Dorei—or they
become hermits, their status as mystical beings with
a thousand-year life span commanding an almost
mythic reverence from other folk.
The elves’ tendency to focus on the past has given
rise to many stereotypes of those folk being haughty,
aloof, and unconcerned with the day-to-day joys and
sorrows of the shorter-lived races. But though this is
certainly true for some elves, it’s hard for other folk

to consider the perspective of an elf who has person-
ally witnessed whole cultures and civilizations rise

and fall. Most elves are born with the same passion
for life as any other being. But as centuries pass, life
becomes a stream of historic events to be witnessed
and contemplated, and not to be interfered with
unless absolutely necessary.
Syngorn Elves
The syn’alfen, as the elves of the Verdant Expanse
call themselves, almost universally revere the
ancient history of Syngorn, and the story of how its
escape to the Fey Realm saved their culture from
extinction. No elf who lives in Syngorn can forget
this past, and Syngornian culture can sometimes
feel overbearing to those who see it only from the
outside. More than a few woodland elves also feel
stifled by their homeland’s unrelenting focus on

history, magic, the fey, and the preservation of elven-
kind. Such elves are most likely to leave Syngorn and

make their homes in other parts of Tal’Dorei.
Departure. Many elves who leave Syngorn (or
who had parents who left) still consider themselves
syn’alfen, whether they live in Emon or other cities,
or even the ancestral homes of other folk, such as
Kraghammer. The cultural imprint of Syngorn is
hard to escape, and most of these expatriate wood
elves hold a certain amount of love for their home
even as part of a complicated relationship.

Reunited Family. South of the Stormcrest Moun-
tains lies the massive jungle of Rifenmist, home to

the nomadic elf Orroyen tribes. The Orroyen believe
that they split off from the Syngorn elves centuries
ago, with both peoples meeting each other again only
within the past century. Though initially suspicious,

both elf lines soon came to see one another as long-
lost family.

The onslaught of the Chroma Conclave disrupted
communication with the Orroyen elves, and news
from the south has grown more dire since. Orroyen
refugees continue to flow into Syngorn, fleeing the
tyrannical Iron Authority that rules Rifenmist.

Lyrengorn Elves
The lyren’alfen, known alternately as Lyrengorn
elves or high elves, are a people who broke off from
Syngorn long ago, and who journeyed from southern
Tal’Dorei to settle in the frigid Neverfields, north of
the Cliffkeep Mountains. The city of Lyrengorn that
they founded is every bit as majestic as Syngorn in
the south, but for better or worse, Lyrengorn lacks

its sister city’s millennia of culture—and its cul-
tural baggage.

Art and Expression. Lyrengorn is nestled in the

spires of the Elvenpeaks, spreading under the mys-
terious northern lights known as the Moonweaver’s

Ribbons. The city is always aglow with magical light,
and its people are taught spellcraft from a young age,
for magic is the foundation upon which Lyrengorn
was built. The spells of heat and comfort woven into
its residents' clothing and architecture are essential
to living comfortably in such relentlessly cold lands.
The elves who make their home within the pines
of the Elvenpeaks are best known for riding through
the wintry skies on wyverns. Every year, people from
across Tal’Dorei travel to the Elvenpeaks to watch
skyswimmers, elite wyvern riders who shape the
glow of the Moonweaver’s Ribbons from the air.
Magic and Transformation. High elf culture
values magical prowess above almost all else, but
the high elves lack the dogma of many of their
Syngornian cousins. Their society encourages
experimentation, both in terms of magic and
self-expression. Likewise, lyren’alfen who become
adventurers often do so in pursuit of inspiration
or self-discovery. High elf societies are filled with
elf magi who use magic to transform their bodies,
exploring different gender expressions and social
roles—and they encourage all who visit Lyrengorn
to join them in discovering all the different facets of
one’s self.
Many high elves become religious sorcerers,

exploring their latent powers through their faith. Oth-
ers develop their arcane skill by seeking admission

to the Alabaster Lyceum in Emon, where they study
the theory of magic with the best minds from across
Tal’Dorei.

Dark Elves
The myrk’alfen, also known as drow or dark elves,
have a complicated relationship with the other elven
societies of Tal’Dorei. Though the elves are one
people by heritage, the dark elves refused to join with
the elves of Syngorn during the Calamity, instead
escaping into the trackless caverns that stretched

beneath Tal’Dorei. There, they became the unwit-
ting prey of the Spider Queen, a Betrayer God of

immense cruelty.
Betrayed by the Gods. In times long past, the
drow were a wise, beautiful folk with long, silvery

hair and radiant ashen or violet skin. But their under-
ground enclaves grew decadent and cruel, and their

leaders fell to the alluring whispers of the Spider
Queen. The myrk’alfen allied with their venomous
goddess against the Arch Heart and their elves in
the Calamity. When the Spider Queen was defeated,
the myrk’alfen of Tal’Dorei were exiled permanently
from the surface world, confined to their imperious
realm within the earth.
Struggle to Survive. More evil powers than
just the Spider Queen lurk beneath the surface of
the world. With the drow in exile, the whispers of
the Crawling King and the Chained Oblivion first
reached the ears of their nobility as the dark elves
struggled to stave away the aberrations that encircled
their cities. Now, generations later, the dark elves
are a people seemingly on the brink of annihilation.
Neighbors slaughter one another in the streets as
they succumb to paranoia. For when aberrations can
take or shape any form, who can be trusted? Unable
to stop their citizens from rioting, the drow elite have
grown ever more authoritarian, commanding their
royal guards to keep order by violently suppressing
their people.
Against this ongoing chaos, some dark elves who
fall deep into the abominable thrall of the Spider
Queen become truly monstrous, their skin and eyes

turning deathly pale as they become little more than

puppets for their tormenting goddess. Others will-
ingly offer themselves to the aberrations to end their

suffering, and are transformed into shapeshifting
doppelgangers. And the most power-hungry drow
nobles often succumb entirely to their devotion to the
Spider Queen, willingly drinking her abyssal blood
to become driders in her service.
New Light for the Shadow. The people of
Tal’Dorei have recently received emissaries from

dark elves who live in the eastern reaches of Wilde-
mount, in a nation called the Kryn Dynasty. Their

Bright Queen, Leylas Kryn, broke free of the Spider
Queen’s corrupting influence and led her people to
glory and self-determination in the distant lands of

Xhorhas. This rebellion was inspired by the discov-
ery of the Luxon, a mysterious being of light and

rebirth that the Kryn drow worship as a god.
Though the dark elves of the Kryn Dynasty have
problems enough of their own, some of the Kryn

seek the aid of Syngorn and Lyrengorn on expe-
ditions into the depths beneath Tal’Dorei. Their

goals are noble, but none can deny that these are
missionary expeditions in search of new followers—
and in search of new Luxon beacons, the scattered
fragments of that new drow god.
Many adventuring drow harbor a violent hatred of
aberrations, and have abandoned the Spider Queen’s

faith to become paladins in service of the Dawnfa-
ther or the Luxon, setting aside their affinity for the

shadow to search for hope in the light of the sun.
*/