Firbolgs
Fur-covered folk with floppy ears, flat noses, and
long faces, firbolgs are a humanoid people with a
unique, somewhat bovine appearance. They aren’t
insular by nature, but they feel most at ease when
surrounded by the natural world, leading the vast
majority of firbolgs to never leave their forest homes
except under circumstances beyond their control.
As a result, many folk in Tal’Dorei don’t even know
that firbolgs exist. Those firbolgs who do live in the
realm’s cosmopolitan cities either grow annoyed or
accepting of people constantly questioning who—or
what—they are.
Dwellers of Cold Forests
Firbolgs’ fuzzy bodies are acclimated to cold
weather, and they often overheat in warm climes.
They are most commonly seen in Kraghammer,
Zephrah, Whitestone, and Stilben, both as residents
and as traveling bards and merchants. But they are

otherwise a rare sight south of the Cliffkeep Moun-
tains, though some firbolgs enjoy a comfortable life

in Emon after learning a few handy spells to keep
cool in the summer.
The largest and densest population of firbolgs in

Tal’Dorei is found in the eternally winter-bound for-
est of the Frostweald. These firbolgs have a friendly

but cautious relationship with the capricious fey who
also dwell there.