/*
Half-Giants
Four peoples were known to exist on Tal’Dorei when

the world was reborn out of the ashes of the Calam-
ity. The elves, who emerged from the Fey Realm. The

dwarves, who emerged from the earth. The orcs,
who endured the Calamity through strength and
determination. And the half-giants, who safely rode

out that war in mountaintop retreats before eventu-
ally descending to the windswept plains below.

Averaging seven feet tall, with hairless, craggy
bodies and skin tough as stone, half-giants are

often colloquially known as stoneborn or goliaths.
Descended from stone giants, these folk have long
been viewed as exemplars of rugged endurance and
individualism. They are found in settlements across
Tal’Dorei, where they are known for their innate
strength and their commonly held belief—passed
down from the giants of old—that all must take fate
into their own hands.
In ancient times, goliaths and orcs lived off the
same land, and their nomadic clans frequently
warred and intermingled in equal measure. As such,
it is common for orcs and goliaths of Tal’Dorei to
discover common ancestors somewhere in their
family trees.
Nomadic Herds
Stone giants believe that physical perfection is the
world’s greatest virtue, and this belief has been
passed down culturally to the goliaths who live in
the mountains and upon the Dividing Plains. These
plains-dwelling half-giants call their clans “herds,”
and unite behind the stone giants’ philosophy of
“might makes right.” Though at one time these
herds were mostly made up of stoneborn almost
exclusively, recent generations have come to include

humans, orcs, dwarves, and even physically diminu-
tive people such as halflings—as long as they agree

with the philosophy of strength above all.
Rivermaw. The greatest of the half-giant herds is
the Rivermaw, whose members use their strength of
arms and political cunning to protect their ancestral
lands from incursion. The Rivermaw herd includes
many goliaths from the now-broken Herd of Storms,
whose folk suffered at the hands of the tyrant Kevdak
many years ago, and who now seek to protect others
from ever suffering as they did.

Ravagers. Opposing the Rivermaw are the Rav-
agers—a group that the Rivermaw have stripped of

the title of “herd” in disgust. The Ravagers are more
a death cult dedicated to the Betrayer God called the
Ruiner than a true clan. Just like the contemporary
Rivermaw, the ranks of the Ravagers are filled with
people of many different ancestries, from goliaths
to humans to bloody-minded firbolgs—all of them
rejecting order to embrace slaughter and cruelty.
Towers of Stone
Tal’Dorei’s most famous goliath, the legendary hero
Grog Strongjaw, is renowned for being a warrior
first and a thinker second. But goliaths are no less
intelligent or canny than Tal’Dorei’s other peoples.

Despite being known as nomadic folk, many half-gi-
ants understand that stone is sturdiest when formed

into towers, walls, and bridges, and cities such as
Kraghammer and Emon have long been filled with
the works of goliath masons and architects not given
the historical recognition they deserved.

Great advances in mathematics and civil engineer-
ing have been made by other city-dwelling stoneborn,

and scholars of the Cobalt Soul are working to

confirm which of the beloved Emonian and Westru-
unian structures that survived the Chroma Conclave

are actually the result of pioneering goliath minds.
Westruun has long been home to vast numbers of
half-giants dwelling there to be close to their former
herds, but many others have set down more recent
roots after the Battle of Westruun, helping rebuild in
the wake of the destruction wrought by the dragon
Umbrasyl and the Herd of Storms.
*/