/*
Gnomes

Gnomes and gnomish culture are relatively uncom-
mon in Tal’Dorei, for although humans and rock

gnomes both hail from Issylra, relatively few gnomes

have the chance or the desire to leave their home-
land. Moreover, their short stature has often proved a

social hindrance in the lands of taller folk. But where
they have settled, gnomes easily prove their mettle

through deed and humor, becoming welcome mem-
bers of the settlements where they choose to make

their homes.
Rock Gnomes
The first gnomes to enter Tal’Dorei migrated from
Issylra during the Age of Arcanum, and endured the
Calamity within the deep caverns of the Cliffkeep
Mountains. These folk called themselves rock
gnomes, and founded a marvelous settlement called
Wittebak. Their society prized cleverness above
all other things, eschewing the arts of magic for a

focus on tinkering and an understanding of natural
phenomena.
Dizzying Heights. By the end of the Calamity,
the city of Wittebak was the most technologically
advanced place in all of Tal’Dorei, even as the elves
and dwarves were emerging from their isolation.
However, such greatness could not last. The rock
gnomes boasted of their superiority to the “ignorant”
stone giants who also called the mountains home,

and incurred their elemental wrath. In the earth-
quakes that followed, Wittebak and most of its people

were destroyed.
Eyes Ahead. Most of those who survived the
Wittebak disaster made their way to Kraghammer,

relying upon the generosity of the dwarves to sur-
vive. A few others traveled to Emon and Kymal, and

helped build those cities in their earliest days. To this
day, most gnomes with any connection to the heady
era of Wittebak still call themselves rock gnomes
in its honor. These gnomes carry a certain cultural
memory of their city’s fall from grace, which drives
many of them to strive constantly toward greatness.
Eyes Behind. A fair few rock gnomes dwelling in
Kraghammer—elders in particular—take a different
view of their people’s fall from grace and glory.
These gnomes work bitterly and tirelessly, fueled by

spite and pride, with the intention of either reclaim-
ing Wittebak or proving that the city’s lost technology

is superior to any magic or other force on Exandria.
Forest Gnomes
Forest gnomes are not native to Tal’Dorei, but unlike
rock gnomes, they are believed to hail from the Fey
Realm, much like the elves. A half dozen small forest
gnome communities can be found in the Verdant
Expanse, hidden from the prying eyes of elves and
human explorers alike. But how gnomes ended up in
the Fey Realm to begin with is a mystery that even
they can’t begin to answer.
Magic, Not Tech. The biggest difference between
the gnomes of the forest and their rock gnome
cousins are their philosophies toward magic and
technology. After spending untold centuries in the
Fey Realm, forest gnomes have a great respect for
magic, especially capricious, unpredictable magic
like that of the fey. Forest gnome culture sees

technology as predictable and boring, even if its use-
fulness must be conceded from time to time.

Forest gnomes respect the rock gnomes’ dedica-
tion to science, and are more than happy to help their

kin in their search to understand how nature works
and how to manipulate it. But in the end, knowledge
is not as important as canniness in forest gnome
enclaves.
Worldly Explorers. Not all forest gnomes are as

close to their fey identity as the gnomes of the Ver-
dant Expanse, and a number of more worldly clans

have spread to other forests across Tal’Dorei. Most
notably, a number of familiesfamilies, including the
Trickfoot clan, have made the Bramblewood outside
of Westruun their home for generations. These clans
are more practical than their fey kin and less uptight
than their distant rock gnome cousins, giving these
gnomes a curious personality perfect for the life of a
traveling adventurer.
*/