Goblinkin
Goblins, hobgoblins, and bugbears are three distinct
races with a united past. They live across Tal’Dorei,
most often in isolated communities, though many
people in the realm have become used to the sight of goblin children playing catch in the street, hobgoblin

mercenaries hanging around job boards, and bug-
bear apothecaries running shops in the hills.

The origin of the goblinkin is shrouded in myth
and legend, but it’s generally accepted that these
peoples were created by the Strife Emperor during
the Calamity to be his perfect soldiers. The few
records of that time hint that the goblinkin were
once a single folk called the dranassar, a humanoid
people of golden skin and green, violet, or yellow
eyes who lived in eastern Wildemount. They dwelled
in great numbers in the city of Ghor Dranas, which
came to be the seat of the Betrayer Gods’ power in
the Calamity.
For centuries, goblinkin were viewed as monsters
by most other people of Tal’Dorei—particularly
explorers and adventurers who regularly invaded
and destroyed goblinkin settlements. But this ugly
sentiment has undergone a radical shift in the past

generation, during which countless goblins, hobgob-
lins, and bugbears have fought alongside the other

folk of Tal’Dorei in defense of their homeland against

the Chroma Conclave and other threats. Today, gob-
linkin are a welcome sight in Tal’Dorei’s cities, and

those folk who nurture old hostilities are invariably
taken to task by the people around them.
Goblins
Goblins are a green-skinned people, short of stature
and typically having thin, dexterous fingers and
strong, nimble legs. They fit easily into settlements
with significant gnome or halfling populations,
whose residences and furniture are already appropriately sized. With long traditions of living in
isolated family units in forests and mountain caves,
many city-dwelling goblins dwell in large houses
holding at least three generations of family and many
different branches of their family tree.
Hobgoblins
Most hobgoblins are alike in stature to humans and
have similar variations in build, ranging from thin
and scrawny to broad shouldered and muscular.
Their large ears, gleaming yellow eyes, and powerful
incisors give them a vaguely feline appearance.
Hobgoblins are often stereotyped as having a
warlike, martial nature—a sentiment that arose from

rumors surrounding the Iron Authority in the Rifen-
mist Jungle. That empire is majority hobgoblin, and

its cruel leaders have press-ganged the land’s entire
population into compulsory military service. In ages
past, most hobgoblins that became known to the
other peoples of Tal’Dorei were scouts or captured
legionnaires of the Iron Authority. Today, though,
many escapees from the authority’s influence live
in cities such as Emon, Kymal, or Byroden. Most
of these free hobgoblins know only their parents’
stories of that distant empire, and are able to live
happily free of its influence.

Bugbears
Bugbears are tall humanoids covered with brown,
black, or blue-gray fur, which combines with large
ears and yellow eyes to give them an even more
feline appearance than their hobgoblin cousins.

Though bugbears are tall, their posture is gener-
ally stooped, so that their heads are still roughly at

human height.
Many bugbears are solitary folk, living in forests
and mountains where their thick fur protects them
against the cold. They typically gather in large
groups one to three times a year to socialize and
play games with friends, reunite with family, and find
love—a tradition that has been reworked by those
who live in permanent communities. Such bugbears
often live with a number of romantic partners under
the same roof, or “adopt” goblin families and dwell in
their loving, chaotic, multigenerational households.