Halflings
No one really knows how halflings appeared on
Exandria, nor is it known how they first arrived in
Tal’Dorei. Some halfling scholars are eager to trace
the origin of their people, but many of those who live
out in the countryside are more keen on inventing
increasingly tall tales regarding the roots of their
ancestry. One popular creation myth is that when

the All-Hammer made the dwarves, a little bit of left-
over clay slipped from his hands and landed on the

rolling fields beyond the dwarves’ mountains, where
it became the first halflings. Though most people
dismiss this story as nothing more than folklore,
a sense of the halflings having humble beginnings

fits with the place they’ve found for themselves in
Tal’Dorei.
The historical records of the Cobalt Soul assert
that halflings journeyed across the Ozmit Sea from

Issylra with Tal’Dorei’s first humans, with both peo-
ples coexisting in peaceful harmony in this realm’s

earliest cities and idyllic agrarian towns. Humans
and halflings likewise fought together—and against
each other—when the Iron Rule of Drassig swept
across the land.
The Scattered War divided halflings across the
continent in two ways. Thousands of humans and
halflings were impressed by Drassig’s strength and
joined his armies, even as many of those who refused
to join turned away from their old allegiances. One
group of halflings decided that humans had betrayed
them and that Warren Drassig was emblematic of
all humanity’s evils, and formed the Stoutheart Clan
in response. They stockpiled weapons and began
a campaign of guerilla warfare against Drassig’s
armies—even battalions that held former friends and
family among their ranks.
Another clan, the Lightfoots, asserted that all
humans couldn’t be condemned for the evil actions
of one king, and pointed to the thousands of halflings
and other non-humans who had allied themselves
with Drassig’s evil regime as proof. The Lightfoots
advocated protecting as many people as possible
while waiting the war out. In the end, it became
clear to both halfling clans that in a conflict against a
tyrant such as Drassig, neutrality was not an option.
They banded together behind Zan Tal’Dorei’s banner
of rebellion.
These two clans dissolved after the Scattered
War, but many contemporary halfling families can
trace their genealogies back to one or the other,
and proudly proclaim that their great-grandparents
were there when history was being made. Most
halflings treat this sense of history only as idle fun,
though, and few feel any real animosity over old ills
and grudges.
Lightfoot Clan

The Lightfoot Clan dissolved into its many compo-
nent families after the war, but the spirit that created

the clan still survives. Those halflings who strongly
identify with their Lightfoot identity look out for
number one first, and are more likely to try to evade
conflict than to meet an oncoming storm head-on.
Yet a contradiction lingers within the Lightfoot spirit,
for despite all their love of the comforts of home,
many Lightfoot halflings feel a certain unquenchable
hunger to explore. Many adventuring halflings are
Lightfoots who have given in to this compulsion.
Stoutheart Clan
The Stoutheart Clan also dissolved in the wake of
the Scattered War, but its ideals and identity still
endure. Brashness and courage even in the face of

absurd odds embodies the Stoutheart spirit. Recall-
ing the guerilla army that stood against the legions

of Drassig, any halfling with the fortitude to stand
up to a warrior three times their size has more than
earned the honor of calling themself a Stoutheart—
even if their family tree doesn’t have true roots in
that historic clan.
Stouthearts often surprise other people who know

of halflings only from experiences with more laid-
back Lightfoot folk—and many use this surprise to

their advantage to become truly cunning diplomats.
The proud Stoutheart named Assum Emring, a

former member of the Tal'Dorei Council, once bois-
terously claimed that he was so rude, so brash and

so defiant in his first meeting with the late Sovereign
Uriel Tal'Dorei II, that he was very nearly arrested—
before being offered a position on the sovereign's
staff the very next day!