/*
Humans
Humans are the most populous race in Tal’Dorei
today, though at one point in this land’s history, all of
humankind’s holdings were naught but a speck on
the western coastline.
If humans ever lived upon Tal’Dorei in the Age of
Arcanum, they were wiped out entirely by the end
of the Calamity. But after the world had begun to
recover from the devastation wrought by that war of
gods and mortals, an expedition of human explorers
departed from Vasselheim in Issylra, thought to be
the only bastion of humanoid culture on the surface

of Exandria to survive the Calamity. Sailing east-
ward, they reached the land that would eventually

come to be called Tal’Dorei, and were shocked to
find elves, dwarves, orcs, and half-giants already
living there—shattering their belief that the Calamity
had washed away all mortal life except the people of
Vasselheim.
Over the years, humans and their ambition
have been responsible for bloody wars, weapons
of unimaginable devastation, and spells that have
reduced entire cultures to ruin. Yet humans have
also driven great advances in art, music, poetry, and
theater, and have shown love and compassion to
the other mortal peoples of the world. The course
of human history is never straight, and can turn
at any time. After all, humans’ lives are short and
their minds are chaotic—a fact that troubles many of
the long-lived elves and dwarves of Tal’Dorei. Still,
despite these weaknesses—or perhaps because of
them—humans have produced some of the most
innovative and forward-thinking figures Tal’Dorei
has ever known.
A Far-Reaching People
Humans can hail from anywhere in Tal’Dorei, for
although their presence on the continent began as
a small colony in the west, that presence quickly
spread. Humans were eager to trade, to forge alli-
ances, and to find love with the elves, dwarves, orcs,

and goliaths of Tal’Dorei. Their lands quickly grew
in size and power. But then a human despot by the
name of Warren Drassig broke the peace of trade
and coalition in favor of conquest.
Drassig’s betrayal nearly condemned humankind
to an eternal reputation for villainy. However, one
human rebel named Zan Tal’Dorei forged alliances
of renewed trust between her rebellious faction and
the other beleaguered peoples of Drassig’s kingdom.
Her forthright idealism and steadfast determination
won the Scattered War, and laid the foundations for a
new society that enshrined the alliances she created.

Though human adventurers can hail from any-
where in Tal’Dorei, humans are most commonly

found in the lands connected by the Silvercut Road-
way: the Bladeshimmer Shoreline in the west, the

Lucidian Coast in the east, and the Dividing Plains

that separate them. A number of humans from Wilde-
mount also sailed across the Shearing Channel long

ago and settled in the Alabaster Sierras, where they
founded the city-state of Whitestone.
Humans living along the Silvercut provide the
infrastructure for trade across the continent, and
as such are often involved in some form of craft,
business, or production. Human-dominated cities in
Tal’Dorei are typically highly diverse, because they
were founded with the aid of many allies of other
ancestries. Today, members of all Exandria’s other
peoples come together in great cities such as Emon,
even as humans from the distant continents of
Issylra, Marquet, and Wildemount travel to exchange
goods and ideas with the vast and bountiful lands

of Tal’Dorei. Beyond the cities, dozens of human-
founded outposts spread along the fringes of lands

better known by Tal’Dorei’s older ancestries—the
elves, dwarves, orcs, goliaths, and even the reclusive
giants. Outlanders, explorers, and hermits take
refuge here from the hectic pace of city life, but still
find danger enough in the wilderness to keep them
on their toes.
Many humans likewise live in settlements founded

by non-humans, ranging in size from tiny gnome-ma-
jority villages in Torian Forest to the ancient and

stately cities of Syngorn and Kraghammer. These
humans absorb the cultures of their homes, just
as people of other ancestries raised in cities such

as Emon can grow up with a distinctly human out-
look on life.
*/