Orcs
Orcs survived on Tal’Dorei during the Calamity
through sheer determination and strength. Unlike
the elves and dwarves who hid in their secret

retreats, and the goliaths who watched the destruc-
tion from their mountaintops, great clans of orcs

fought endless bloody battles on the Dividing Plains
as the gods and their loyal minions clashed, wielding
magic sufficient to rip the world asunder. And the
orcs endured—perhaps in part because of the divine
power behind that people’s creation.
The myth surrounding the orcs’ origin is a grim
one. It is said that they were created by accident
when the Arch Heart, god of the elves, shot out the

eye of the war god known as the Ruiner. The Ruin-
er’s blood poured from his wound and rained upon

the armies of elves who served the Arch Heart—and
those unsuspecting mortals were transformed. Their
muscles bulged, tusks grew from their jaws, and
their minds burned with a thirst for blood.
Yet after that battle’s end, the fury within these
new humanoids burned away, and the orcs survived
as a hardy, physically powerful people. In the early
days of Gwessar, orc clans warred with anyone who
invaded their territory, especially the goliaths who
descended from the mountains to the plains, and
who rivaled the orcs in both strength and stature.
But once more, fury cooled in time, and reasonable

voices won out over those of even the most passion-
ate warmongers.

Today, orcs and other folk with orcish heritage
can be found all across Tal’Dorei. Many orcs find
their natural athleticism an asset in specific trades,
but they can be found in every guild and profession.
Though orcs and humans have an ancient legacy of
conflict that lives on in a prejudiced few, the realm is
filled with people who denounce and ostracize any
who discriminate against their orc neighbors.
From Near and Far
Though many of Tal’Dorei’s orcs are related to clans
that have lived nomadically on the continent since
time immemorial, the major cities of the land are
also home to orcs who’ve traveled to Tal’Dorei from
across the sea. Many of those orcs originated in the
lands of Xhorhas, in Wildemount, and the continent
of Marquet—places where orcs have never been
denied the opportunity to become great scholars
or leaders.