Tieflings
Though Tal’Dorei was once awash with fell legends
claiming to detail the evil origin of tieflings, the
more progressive parts of the realm have long since
stomped out such ugly myths. Still, many folk can’t
help but show surprise the first time they see a
person with horns curling from their brow, gleaming
eyes of a single solid color, and lustrous, brightly
hued skin of red, purple, or blue.

Scholars have scoured thousands of years of Issyl-
ran history in search of the origin of tieflings, to little

avail. The most complete extant records suggest that

during the Age of Arcanum, a cabal of power-hun-
gry Issylran warlocks consorted with extraplanar

entities, and that many of these unions resulted in
children who shared the qualities of human and
fiend. These progeny of the Lower Planes eventually
came to break away from that origin to become a
people unto themselves.
The first tieflings to walk on Tal’Dorei sailed from
Issylra during the Age of Arcanum, fleeing religious
zealots who believed their very existence was an
abomination. Many tieflings in Tal’Dorei refused
to fight during the Calamity, embracing a nihilism
which said that if the world could reject their kind,
perhaps it was better to just let it burn. Yet the world
and the tieflings survived.
In the centuries after the Divergence, tieflings who

had grown weary of gods and demons rejoiced, feel-
ing that the gods’ imprisonment had effectively freed

them from their cursed past. As such, when Warren
Drassig and his sons conquered the elven lands of
Gwessar, countless tieflings rose in rebellion against
the tyrant. They had seen his kind before, they knew
his methods, and they knew others would suffer as
they once had.
Tiefling Children

Tieflings who form a union always have tiefling chil-
dren, and most tieflings belong firmly to that ancient

ancestry. Yet to this day, any humanoid—whether
famous hero or common farmer—who makes a deal

with fiends might give rise to children, grandchil-
dren, or even more distant descendants born with

the horns, eyes, and colorful skin of a tiefling.
Perhaps the most famous tiefling born in the

past generation is Gwendolyn de Rolo, the young-
est daughter of the renowned heroes Percival and

Vex’ahlia de Rolo of Whitestone. It is an open secret
in the city-state that Percival had dealings with fiends
as a young man. Yet though none of the rumors have

precisely pinpointed the nature of Percival’s super-
natural bargain, all who know Gwendolyn agree that

she is the sweetest and most innocent de Rolo to
roam the halls of Castle Whitestone in many years.