background name="Anthropologist" {
	description "You have always been fascinated by other cultures, from the most ancient and primeval lost lands to the most modern civilizations. By studying other cultures' customs, philosophies, laws, rituals, religious beliefs, languages, and art, you have learned how tribes, empires, and all forms of society in between craft their own destinies and doom. This knowledge came to you not only through books and scrolls, but also through first-hand observation—by visiting far-flung settlements and exploring local histories and customs."
	mutator "add_proficiency" (Skill)"Specific" "Insight"
	mutator "add_proficiency" (Skill)"Specific" "Religion"
	mutator "add_proficiency" (Language)"Any" id="langA"
	mutator "add_proficiency" (Language)"Any" id="langB"
	/* TODO: add_starting_equipment
	mutator "add_starting_equipment" {
		item "Custom" name="Leather-bound diary"
		item "Custom" name="Bottle of ink"
		item "Custom" name="Ink Pen"
		item "Custom" name="Traveler’s Clothes"
		item "Custom" name="one trinket of special significance"
		currency 10 (Currency)"Gold"
	}
	*/
	feature name="Adept Linguist" {
		description "You can communicate with humanoids who don't speak any language you know. You must observe the humanoids interacting with one another for at least 1 day, after which you learn a handful of important words, expressions, and gestures—enough to communicate on a rudimentary level."
	}
	/* TODO: sugested_trait
	mutator "suggested_trait" "Personality" {
		option "I prefer the company of those who aren’t like me, including people of other races."
		option "I’m a stickler when it comes to observing proper etiquette and local customs."
		option "I would rather observe than meddle."
		option "By living among violent people, I have become desensitized to violence."
		option "I would risk life and limb to discover a new culture or unravel the secrets of a dead one."
		option "When I arrive at a new settlement for the first time, I must learn all its customs."
	}
	mutator "suggested_trait" "Ideal" {
		option "Discovery. I want to be the first person to discover a lost culture. (Any)"
		option "Distance. One must not interfere with the affairs of another culture—even one in need of aid. (Lawful)"
		option "Knowledge. By understanding other races and cultures, we learn to understand ourselves. (Any)"
		option "Power. Common people crave strong leadership, and I do my utmost to provide it. (Lawful)"
		option "Protection. I must do everything possible to save a society facing extinction. (Good)"
		option "Indifferent. Life is cruel. What’s the point in saving people if they’re going to die anyway? (Chaotic)"
	}
	mutator "suggested_trait" "Bond" {
		option "My mentor gave me a journal filled with lore and wisdom. Losing it would devastate me."
		option "Having lived among the people of a primeval tribe or clan, I long to return and see how they are faring."
		option "Years ago, tragedy struck the members of an isolated society I befriended, and I will honor them."
		option "I want to learn more about a particular humanoid culture that fascinates me."
		option "I seek to avenge a clan, tribe, kingdom, or empire that was wiped out."
		option "I have a trinket that I believe is the key to finding a long-lost society."
	}
	mutator "suggested_trait" "Flaw" {
		option "Boats make me seasick."
		option "I talk to myself, and I don’t make friends easily."
		option "I believe that I’m intellectually superior to people from other cultures and have much to teach them."
		option "I’ve picked up some unpleasant habits living among goblins, lizardfolk, or orcs."
		option "I complain about everything."
		option "I wear a tribal mask and never take it off."
	}
	*/
}